<h2>ADD NEW CELEB</h2>
<form action="/celebrities/create" method="POST">
    <input type="text" placeholder="Name" name="name" id="name">
     <input type="text" placeholder="Occupation" name="occupation" id="occupation">
      <input type="text" placeholder="Catch Phrase" name="catchPhrase" id="catchPhrase">
      <input type="submit" value="Submit new cel">
</form>